nav {
  background-color: aquamarine;
  color: black;
  padding: 20px;
  text-align: center;


}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(51, 51, 51);
}

.container {
  max-width: 60%;
  margin: auto;
  min-height: 100vh;
  padding: 4vmax 8vmax;
  background-color: rgb(99, 98, 98);
}

.container>form {
  display: flex;
  flex-direction: column;
}

.container>h1 {
  text-align: center;
  color: rgb(49, 206, 154);
  margin: 30px;
  font-size: 2.5rem;
}

input,
textarea,
button {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.214);
  border-radius: 5px;
  margin: 10px;
  font-size: 1.2rem;
}

button {
  cursor: pointer;
  background-color: aquamarine;
}
.task{ 
  background-color: azure;
  display: flex;
  align-items: center ;
  padding: 20px;
  border-radius: 5px;
  margin: 20px 10px;
}

.task span { 
  color: rgb(94, 87, 87);
}
.task > div{ 
  width:  100%;
}
.task  > button{ 
  border-radius: 100%;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.214);
  margin: 10px;
  height: 30px;
  width: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

